body {
    font-family: 'Roboto', sans-serif;
    background-color: #2B312C;
    color: #ffffff;
}


/* main */

main {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

main.has-footer {
    bottom: 21px;
}

main.has-header {
    top: 55px;
}

main.has-aside-left {
    left: 55px;
}

main.has-aside-right {
    right: 55px;
}

main.settings {
    color: #333;
}


/* header */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: #475a61;
    font-size: 18px;
    color: #cad5d9;
    z-index: 10;
    box-shadow: 0px 0px 12px #000;
}


/* footer */

footer {
    position: fixed;
    bottom: 0px;
    left: 55px;
    right: 0px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    background-color: #2B312C;
    font-size: 14px;
    color: #ABABAB;
    font-weight: normal;
    z-index: 10;
}


/* icon specials */

.icon-badge {
    color: white;
    width: 16px;
    height: 16px;
    background-color: rgb(43, 49, 44);
    line-height: 20px;
    border-radius: 23px;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 3px;
}

.icon-badge-dashboard {
    color: white;
    width: 18px;
    height: 18px;
    background-color: #f00;
    line-height: 18px;
    border-radius: 23px;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    left: 18px;
}

.hangup-icon {
    color: #f00 !important;
    -ms-transform: rotate(135deg) !important;
    -webkit-transform: rotate(135deg) !important;
    transform: rotate(135deg) !important;
}

.call-icon,
.online-status-icon {
    color: #25a528 !important;
}

.busy-status-icon {
    color: #F2C900 !important;
}

.dnd-status-icon {
    color: #f00 !important;
}


/* change the default scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


/* prevent selections */

* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}


/* helpers */

.bottom-padding-only {
    padding: 0 !important;
    padding-bottom: 5px !important;
}

.no-padding {
    padding: 0 !important;
}

.has-padding {
    padding: 2px;
}

.scrollable {
    max-height: 70vh;
    margin-bottom: 5px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.small-text {
    font-size: 16px;
}

.max-height {
    height: 100%;
}


/* for dashboard view */

.list {
    background-color: rgb(43, 47, 43);
    padding-top: 5px;
}

.debug {
    font-size: 9px;
}


/* call session status */

.connecting {
    position: absolute;
    z-index: 100;
    left: 33.333333333%;
}

.thumb .caption.connecting {
    background-color: rgba(245, 200, 41, 0.55);
}

.thumb .caption.connected {
    background-color: rgba(44, 197, 48, 0.55);
}

.thumb .caption.terminating {
    background-color: rgba(227, 133, 87, 0.55);
}

.voicemail-items-unread {
    background-color: #2B312C;
    cursor: pointer;
    font-weight: bold;
}

.voicemail-items-read {
    cursor: pointer;
}

.voicemail-items-in-progress {
    background-color: #CCFF99;
    cursor: pointer;
    color: #EE7600;
    font-weight: bold;
}

.voicemail-items-paused {
    cursor: pointer;
    color: #EE7600;
    font-weight: bold;
}

.voicemail-items-deleted {
    cursor: not-allowed;
    color: red;
    font-weight: bold;
}

.no-unread-voicemails {
    text-align: center
}

.table-content {
    margin-top: 10px;
    height: 95%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.read-btn {
    min-width: 170px;
}

.pause-continue-btn {
    min-width: 85px;
}

.end-btn {
    min-width: 85px;
}

.mark-btn {
    min-width: 120px;
}

.status-cell {
    min-width: 110px;
}

.table-header {
    /*position:  fixed;*/
    color: #000;
}

.sortable {
    cursor: pointer;
    background-color: white;
}

.sorted {
    background-color: #F0F0F0;
}

.inline {
    display: inline-block;
}

.pointable {
    cursor: pointer;
}

.thumb .face-detect-btn {
    background-color: rgba(255, 255, 255, 0.55);
    line-height: 44px;
    display: block;
    text-align: center;
    height: 44px;
    line-height: 44px;
    position: absolute;
    top: 0px;
    width: 50%;
}

.left-btn {
    left: 0px;
}

.right-btn {
    right: 0px;
}


/* side-in dyn-menu */

.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

dyn-menu {
    display: block;
}

dyn-menu > div {
    overflow: hidden;
    position: fixed;
    z-index: 11;
    top: 60px;
    width: 204px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: -webkit-transform ease 250ms;
    -moz-transition: -webkit-transform ease 250ms;
    -ms-transition: -webkit-transform ease 250ms;
    -o-transition: -webkit-transform ease 250ms;
    transition: -webkit-transform ease 250ms;
    -webkit-transition: transform ease 250ms;
    -moz-transition: transform ease 250ms;
    -ms-transition: transform ease 250ms;
    -o-transition: transform ease 250ms;
    transition: transform ease 250ms;
}

dyn-menu > div.left {
    background-color: #5B9236;
    box-shadow: 0px 0px 12px #000;
    left: -245px;
}

dyn-menu > div.show.left {
    transform: translate3d(310px, 0, 0);
    -ms-transform: translate3d(310px, 0, 0);
    -webkit-transform: translate3d(310px, 0, 0);
    -o-transform: translate3d(310px, 0, 0);
    -moz-transform: translate3d(310px, 0, 0);
}

dyn-menu .buttons {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}

dyn-menu .rooms-title {
    text-align: center;
    margin-bottom: 15px;
}

dyn-menu .active {
    border: 2px solid #fff;
}

.top-buffer {
    margin-top: 10px;
}

dyn-menu a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

dyn-menu > div > span {
    float: left;
    color: inherit;
}

dyn-menu pre {
    text-align: center;
    font-size: 20px;
}

.menuGlyphicon {
    font-size: 20pt;
    position: absolute;
    right: 0px;
    margin: 10px;
}

.userMenu {
    height: 100%;
}

.userMenu > h2 {
    text-align: center;
    color: #ffffff;
}

.logoutButton {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.logout-container {
    text-align: center;
}

span.glyphicon.glyphicon-user {
    font-size: 140pt;
    margin: 30px;
    color: #F0F0F0;
}

@media screen and (max-height: 600px) {
    span.glyphicon.glyphicon-user {
        font-size: 60pt;
        margin: 10px;
        color: #F0F0F0;
    }
    dyn-menu pre {
        font-size: 10pt;
    }
}

.modal-backdrop {
    bottom: 0px;
}

.btn-xtra-large {
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-gps {
    padding: 20px;
    width: 50%;
    position: absolute;
}

.btn-login-logout {
    line-height: 45px;
    font-size: 25px;
    width: 30%;
}

.btn-gps-bottom {
    position: absolute;
    bottom: 100%;
    opacity: 0.5;
    z-index: 2;
}

.control-panel {
    height: 100%;
}

.left-pos-btn-group {
    position: relative;
    float: left;
}

.modal .modal-dialog {
    width: 430px;
}

.btn.btn-room {
    background-color: #78B551;
    color: #fff;
    height: 45px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}


/* notification bar */

.notify-bar {
    z-index: 10;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin-bottom: 44px;
    transition: all 1s ease;
}

.notify-bar-child {
    padding: 5px;
    margin: 0px;
}


/* settingv view*/

.inline-radio {
    margin-right: 10px;
}

.slider-setting input[type=checkbox] {
    visibility: hidden;
}

.slider-setting {
    width: 120px;
    height: 35px;
    background: #333;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slider-setting:after,
.slider-setting:before {
    font: 22px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
    top: 5px;
}

.slider-setting:after {
    content: 'OFF';
    right: 10px;
}

.slider-setting:before {
    content: 'ON';
    left: 10px;
    color: #00bf00;
}

.slider-setting label {
    display: block;
    width: 50px;
    height: 30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 5px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
}

.slider-setting input[type=checkbox]:checked + label {
    left: 65px;
}


/*ngAnimate*/

.repeat-item.ng-enter,
.repeat-item.ng-leave {
    transition: 0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
    opacity: 0;
}

.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
    opacity: 1;
}

.banner {
    display: block;
    position: absolute;
    text-align: center;
    height: 22px;
    left: 0px;
    right: 0px;
    bottom: 44px;
    line-height: 22px;
    font-size: 2vh;
    opacity: 0.6;
}

.warning {
    background-color: yellow;
}

.vertical-text {
    position: absolute;
    font-style: italic;
    font-size: 5vh;
    opacity: 0.5;
    transform: rotate(270deg);
    white-space: nowrap;
    bottom: 100px;
    left: 0px;
    right: 0px;
}


/* login view */

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.btn-login {
    margin-top: 10px;
}

input[type=tel] {
    -webkit-text-security: disc;
}


/*  overlay status */

.overlay-status {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -2px;
    z-index: 11;
    height: 100%;
    width: 110%;
    background-color: rgba(46, 45, 50, 0.6);
}

.overlay-status.dnd {
    top: inherit;
    z-index: 9;
}

.overlay-status.offline {}

.overlay-status-green-dot {
    position: absolute;
    font-size: 50px;
    right: 5%;
    bottom: 5%;
    color: #00FF00;
}

#command {
    -webkit-user-select: text;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
    font-size: 40px;
    vertical-align: text-top;
    display: inline-block;
    padding: 0px 5px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.video-slider {
    border: 2px solid #000000;
    position: absolute;
    display: block;
}

.share-container {
    border: 4px;
    width: 120px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
}


/* screen share popup */

.screen-sharing-pop-up-overlay {
    /* A dark translucent div that covers the whole screen */
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.screen-sharing-pop-up-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    position: absolute;
    width: 50%;
    /* Default */
    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    color: #000;
    box-shadow: 4px 4px 80px #000;
}

.screen-sharing-pop-up-dialog-content {
    padding: 0% 5%;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.screen-sharing-pop-up-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}

.flexible {
    display: flex;
}
