body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    color: #ffffff;
}


/* main */

main {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

main.has-footer {
    bottom: 21px;
}

main.has-header {
    top: 55px;
}

main.has-aside-left {
    left: 55px;
}

main.has-aside-right {
    right: 55px;
}

main.settings {
    color: #333;
}


/* header */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: #EFEFEF;
    font-size: 18px;
    color: #cad5d9;
    z-index: 10;
    box-shadow: none;
}


/* footer */

footer {
    position: fixed;
    bottom: 0px;
    left: 55px;
    right: 0px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    background-color: #F3F3F3;
    font-size: 14px;
    color: #ABABAB;
    font-weight: normal;
    z-index: 10;
}


/* general buttons design */

.custom-button {
	
	background-color: #3CBC8D;
	border-radius : 0px;
	border: none;
	margin : 0px;
}

.btn-primary[disabled] {
	background-color: rgba(54,169,126,1);
	opacity: 1;
}
.btn-primary:hover {
	background-color: #2a8362;
}

.form-control {
	border-radius: 0px;
	border: none;
}

form {
	background-color: #d4d4d4;
	padding-top: 20px;
	padding-bottom: 20px;
}

.form-actions {
	margin-top: 5xp;
	margin-bottom: 15px;
}