<header>
    Home page
</header>
<main class="container-fluid has-header has-padding">
	<uib-tabset active="activePill" vertical="true" type="pills"class="side-menu">
    	<uib-tab index="0" heading="Menu"></uib-tab>
    	<uib-tab index="1" heading="Home Page" ng-click="vm.homepage()"></uib-tab>
    	<uib-tab index="2" heading="Orders" ng-click="vm.orders()"></uib-tab>
    	<uib-tab index="3" heading="Statistics"></uib-tab>
    	<uib-tab index="4" heading="Make order" ng-click="vm.makeOrder()"></uib-tab>
    	<uib-tab index="5" heading="Register Product" ng-click="vm.registerProduct()"></uib-tab>
    	<uib-tab index="6" heading="Logout"></uib-tab>
  	</uib-tabset>
</main>