<header>
	Make order
</header>
<main class="container-fluid has-header has-padding">
	<div class="container-fluid">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a href="#">Cold dishes</a></li>
                <li role="presentation"><a href="#">Hot dishes</a></li>
                <li role="presentation"><a href="#">Soups</a></li>
                <li role="presentation"><a href="#">Fish</a></li>
                <li role="presentation"><a href="#">A la card</a></li>
                <li role="presentation"><a href="#">Grilled</a></li>
                <li role="presentation"><a href="#">Deserts</a></li>
            </ul>
            <div class="row">
                <div class="col-sm-6" style="background-color:lavender;">
                    <ul class="list-group">
                        <li class="list-group-item">Fruit Salad</li>
                        <li class="list-group-item">Shopska Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Octopus Salad</li>
                        <li class="list-group-item">Fruit Salad</li>
                        <li class="list-group-item">Shopska Salad</li>
                        <li class="list-group-item">Fruit Salad</li>
                        <li class="list-group-item">Shopska Salad</li>
                        <li class="list-group-item">Fruit Salad</li>
                        <li class="list-group-item">Shopska Salad</li>
                        <li class="list-group-item">Fruit Salad</li>
                        <li class="list-group-item">Shopska Salad</li>
                        <li class="list-group-item">Fruit Salad</li>
                        <li class="list-group-item">Shopska Salad</li>
                        <li class="list-group-item">Fruit Salad</li>
                        <li class="list-group-item">Shopska Salad</li>
                        <li class="list-group-item">Fruit Salad</li>
                        <li class="list-group-item">Shopska Salad</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <img src="http://media.olivegarden.com/en_us/images/product/d-olive-garden-salad-dpv.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236">
                    <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
                    <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
                    <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
                    <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
                    <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
                    <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
                    <button class="w3-btn w3-green w3-ripple" ng-click="editUser('new')">&#9998; ADD TO ORDER</button>
                    </img>
                </div>
            </div>
        </div>
</main>